{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 131, "knowledge_revision": 491, "git_revision": "80af73c06a3490ac51dbcd32ff6bdafae5bd91cb", "filename": "/home/kavia/workspace/code-generation/campusschedpro-95046-95052/utils/env.example", "hash": "eb92e800d9d1dade6f63094a1b7375aa", "format-version": 4, "code-base-name": "default", "revision_history": [{"491": "80af73c06a3490ac51dbcd32ff6bdafae5bd91cb"}]}